.active {
  font-weight: bold;
  fill: #000;
  transition: fill 0.1s ease-out;
  text-anchor: middle;
}

.inactive {
  font-weight: lighter;
  transition: fill 0.1s ease-out;
  text-anchor: middle;
}

.inactive:hover {
  stroke: black;
  cursor: pointer;
}

.stateText {
  font-family: sans-serif;
  font-size: 0.8rem;
  fill: #fff;
  text-anchor: middle;
}

.stateCircle {
  fill: #89bdd3;
  stroke: #e3e3e3;
}

.chart {
  display: block;
  margin: 0;
}

.d3-tip {
  padding: 4px;
  font-size: 0.75rem;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
}

.axis {
  font-size: 0.9rem;
}

/* Mobile Rules */
@media screen and (max-width: 530px) {
  .stateText { display: none; }
  .aText { font-size: 14px; }
}

@media screen and (max-width: 400px) {
  .aText { font-size: 13px; }
}
